<div>
  <div>
    <h2>
      <%= @the_user.username %> 
    </h2>
      <dt>
        Private
      </dt>
      <dd>
        <%= @the_user.private %>
      </dd>

      <dt>
        Followers
      </dt>
      <dd>
        <%= @the_user.likes_count %>
      </dd>

      <dt>
        Following
      </dt>
      <dd>
        <%= @the_user.likes_count %>
      </dd>

      <li>
      <a href="/users">Profile</a>
    </li>
    <li>
      <a href="/photos">Liked photos</a>
    </li>
    <li>
      <a href="/photos">Feed</a>
    </li>
    <li>
      <a href="/photos">Discover</a>
    </li>
  
    </dl>
  </div>
</div>

<h2>Own photos</h2>

<hr>


<div>
  <div>
    <h2>
      Edit user
    </h2>

    <form action="/modify_user/<%= @the_user.id %>"  method="post" >
      <div>
        <label for="comments_count_box">
          Comments count
        </label>

        <input type="text" id="comments_count_box" name="query_comments_count" value="<%= @the_user.comments_count %>">
      </div>

      <div>
        <label for="email_box">
          Email
        </label>

        <input type="text" id="email_box" name="query_email" value="<%= @the_user.email %>">
      </div>

      <div>
        <label for="likes_count_box">
          Likes count
        </label>

        <input type="text" id="likes_count_box" name="query_likes_count" value="<%= @the_user.likes_count %>">
      </div>

      <div>
        <label for="password_digest_string_box">
          Password digest string
        </label>

        <input type="text" id="password_digest_string_box" name="query_password_digest_string" value="<%= @the_user.password_digest_string %>">
      </div>

      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1" <%= "checked" if @the_user.private %>>

        <label for="private_box">
            Private
        </label>
      </div>

      <div>
        <label for="username_box">
          Username
        </label>

        <input type="text" id="username_box" name="query_username" value="<%= @the_user.username %>">
      </div>

      <button>
        Update user
      </button>
    </form>
  </div>
</div>

<hr>
